[submodule "thoughtstream/Damian-Conway-s-Vim-Setup"]
	path = .vim/bundle/Damian-Conway-s-Vim-Setup
	url = https://github.com/thoughtstream/Damian-Conway-s-Vim-Setup
[submodule "cfname"]
	path = .vim/bundle/cfname
	url = https://github.com/vim-scripts/cfname.git
[submodule "ucompleteme"]
	path = .vim/bundle/ucompleteme
	url = https://github.com/vim-scripts/ucompleteme.git
[submodule "tpope/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "google/vim-searchindex"]
	path = .vim/bundle/vim-searchindex
	url = https://github.com/google/vim-searchindex.git
[submodule "tpope/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "VundleVim/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
